<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon">

    <!-- Custom CSS -->
    <link href="/static/styles.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400..700&display=swap" rel="stylesheet">

    <title>Commis: {% block title %}{% endblock %}</title>
</head>

<body>
    <div class="wrapper d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-md" id="topbar">
            <div class="container-fluid" id="wrappercontent" id="links">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <a href="/">
                    <div class="logo-container">
                        <img src="{{ url_for('static', filename='favicon.ico') }}" alt="Logo" id="logo">
                    </div>
                </a>
                <div class="search-container">
                    <form id="search-form" class="d-flex mx-auto" action="/search" method="GET">
                        <input id="search-input" class="form-control me-2" type="search" placeholder="Search recipes..." aria-label="Search" name="q">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </div>
                {% if session["user_id"] %}
                <ul class="navbar-nav ms-3 mt-2" id="loginlinks1">
                    <li class="nav-item"><a class="nav-link" href="/change">Change&nbsp;Password</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log&nbsp;Out</a></li>
                </ul>
                {% else %}
                <ul class="navbar-nav ms-3 mt-2" id="loginlinks2">
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Log&nbsp;In</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title" id="sidebarLabel">Commis</h1>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/upload">Upload Recipe</a></li>
                    <li class="nav-item"><a class="nav-link" href="/history">View History</a></li>
                    <li class="nav-item"><a class="nav-link" href="/myrecipes">My Recipes</a></li>
                </ul>
            </div>
        </div>

        {% if get_flashed_messages() %}
        <header>
            <div class="alert alert-primary mb-0 text-center" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        </header>
        {% endif %}

        <main class="container py-5 flex-grow-1">
            {% block main %}{% endblock %}
        </main>

        <footer class="text-center">
            <p class="small mb-3" id="footertext">&copy; {{ current_year }} Commis. All rights reserved.</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>
